.container-postari{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    column-gap: 8%;
    width: 85%;
    /* position: relative; */
    position: relative;
    top:300px;
    /* background-color: red; */
}
.container-pg-postari{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1;
    column-gap: 8%;
    row-gap: 100px;
    height: fit-content;
    margin-bottom: 200px;
    /* background-color: red; */
}
.container-postare{
    width: 100%;
    background-color: lightgray;
    padding: 20px 2%;
    height: 240px;
    z-index: 1;
    border: 1px solid orange;
    grid-column: 1;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 8%;
}
.container-postari h1{
    font-size: 26px;
}
.container-postare p{
    font-size: 18px;
}
.container-postare img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.sp-ss{
    display: none;
    /* color:red !important; */
    position: absolute;
    top: 210px;
    left: 20%;
    
    cursor: pointer;
}
.sp-ss:hover{
    color:#E45826;
}
.sp-ss:hover > #ssp-bars{
    color:#E45826;
}
@media only screen and (max-width:1200px){
    .container-postari{
        grid-template-columns: 2fr 1fr;
    }
    .container-pg-postari{
        grid-template-columns: 1fr;
        row-gap: 80px;
        /* background-color: red; */
    }
    
}
@media only screen and (max-width:850px){
    .container-postari{
        display: grid;
        /* grid-template-columns: 2.5fr 1fr; */
        column-gap: 5%;
        width: 90%;
    }
    

}
@media only screen and (max-width:650px){
    .container-postari{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 2%;
        width: 95%;
    }
    .sp-ss{
        display: block !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
    }
}
