.informatiiUtilizator2{
    background-color: #E45826;
    color:white;
}
.dovadaImg{
    width: 80%;
    height: auto;
    margin-top: 20px;
}
.detalii-cont{
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top:15vh;
    height: 80vh;
    box-shadow: 0 0 5px 1px #E45826;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    border-radius: 10px;
    overflow: hidden;
}
.cont-optiuni{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E45826;
    height: 100%;
}
.optiuni {
    padding: 0;
    height: 100%;
}
.optiuni li{
    font-size: 20px;
    margin: 0px 0;
    padding: 40px 50px;
    box-shadow: 0 0 1px lightgrey;
    cursor: pointer;
}
.optiuni li:hover{
    color:white !important;
    background-color: #E45826;
    transition:background 250ms ease;
    font-size: 20px;
    margin: 0px 0;
    padding: 40px 50px;
    box-shadow: 0 0 1px lightgrey;
}
.optiune-cont{
    padding: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.optiune-cont p{
    font-size: 20px;
    margin-bottom: 25px;
}
.optiune-cont li{
    font-size: 20px;
    margin:5px;
}
.optiune-cont ul{
    margin-bottom: 25px;
}
.optiune-cont h1{
    font-size: 26px;
}
#opt-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.done-j{
    position: relative;
    top:40px;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}
.done-j h1{
    font-size: 26px;
}
.projects li:hover{
    color:aqua;
}
.integ{
    font-size: 50px;
    cursor: pointer;
}
.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50%;
    border:2px solid gray;
    
}