.container-vp{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    height: 90vh;
    /* background-color: red; */
    position: absolute;
    left:5%;
    margin-top:10vh;
}
.detalii-vp{
    position: absolute;
    top:17vh;
    left:56%;
}
#vp-likes{
    position: absolute;
    top:65vh;
    left:57%;
}
.vp-vote, .vp-bookmark{
    color:#E45826;
    font-size: 30px;
    margin-left: 10%;
    position: relative;
    bottom:0.6vh;
    cursor: pointer;
}
.vp-bookmark{
    font-size: 28px;

}
.vpc-status{
    position: absolute;
    top:65vh;
    right:10%;
}
.vp-status{
    display: flex;
    align-items: center;
}
#statusL{
    background-color: orange;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
}