::-webkit-scrollbar{
    width: 0.8em;
}
::-webkit-scrollbar-track{
    background-color: #1B1A17;
}
::-webkit-scrollbar-thumb{
    background-color: #E45826;
}
video{
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
    top:0;
}
#infoplus{
    box-sizing: border-box;
    padding: 45px;
    width: 700px;
    height: 280px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #E45826;
    overflow: hidden;
    position: absolute;
    bottom:15%;
    left:8%;
    color:white;
    z-index: 1;
}
#infoplus h1{
    font-size: 38px;
    font-weight:600;
    margin-bottom: 25px;
}
#infoplus h2{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}
#infoplus p{
    font-size: 20px;
}
#infoplusop{
    background-color: black;
    opacity: 50%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    height: 100%;
}
#button{
    border: 1px solid #E45826;

    background-color: transparent;
    color: white;
    padding: 10px 22px;
    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    left:70%;
    bottom:15%;
    cursor:pointer;
    transition: background 250ms ease;
}
#button:hover{
    
    background-color: #E45826;
}


@media only screen and (max-width:1100px){
    
    #infoplus{
       width: 84%;
       top: 50%;
    }
    #button{
        left:65%;
        width: fit-content;
        height: fit-content;
        padding: 10px 20px;
    }
}
@media only screen and (max-height: 550px)and (max-width:1100px) and (orientation: landscape){
    #infoplus{
        height: 65%;
        top:30%;
    }
    #button{
        bottom:8%;
        height: fit-content;
        width: fit-content;
        padding: 5px 15px;
        left:71%;
    }
}

@media only screen and (max-width:700px){
    #infoplus{
        height: 250px;
        padding: 5% 5% 15% 5%;
   }
    #infoplus h1{
        font-size:32px;
        margin-bottom: 25px;
    }
    #infoplus p{
        position: relative;
        bottom:0;
    }
    #button{
        box-sizing: border-box;        
        left: 50%;
        bottom:10%;

    }
    
}
@media only screen and (max-width:555px){
    #infoplus{
        height: 350px;
        top:40%;
    }
    #button{
        left:40%;
        bottom:5%;
    }
}
@media only screen and (max-width:320px){
    video{
        height: 900px;
    }
    #transp{
        height: 900px;
    }
    #infoplus{
        top:40%;
        height: 400px;
    }
    #button{
        left:20%;
    }
}