.favorite-pg-postari{
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 5vh;
    position: relative;
    top:300px;
    margin-bottom: 200px;
}
@media only screen and (max-width:1400px){
    .favorite-pg-postari{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width:800px){
    .favorite-pg-postari{
        grid-template-columns: 1fr;
    }
}