  
  #navigatie{
      --transparent:transparent;
      box-sizing: border-box;
      position: absolute;
      top:0;
      width: 100%;
      height: 80px;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2% 8%;
      background-color: var(--transparent);
      transition: background 250ms ease-in;
  }
  #logo_sigla{
      display: flex;
      align-items: center;
  }
  #logo_sigla h1{
      font-size: 25px;
      color:white;
      margin-left: 10%;
  }
  #logo_sigla img{
      height: 60px;
  }
  #sign{
      border: 1px solid #E45826;
      box-shadow: 0 0 10px #E45826;
      border-radius: 50px;
      width:fit-content;
      height: fit-content;
      padding: 7px 20px;
      font-size: 23px;
      color:white;
      background-color: none;
      cursor:pointer;
      background-color: transparent;
  }
  @media only screen and (max-width:552px){
      #navigatie{
          height: fit-content;
          padding: 4% 4%;
      }
      #sign{
          margin: 0 2% 0 2%;
          font-size: 22px;
          padding: 8px 5px;
          width: 150px;
          max-height: fit-content;
      }
      #logo_sigla h1{
          font-size: 22px;
      }
      #logo_sigla img{
          height: 65px;
      }
  }
  @media only screen and (max-width:350px){
      #logo_sigla h1{
          font-size: 20px;
      }
      #logo_sigla img{
          height: 50px;
      }
      #sign{
          font-size: 17px;
          width: fit-content;
      }
  }
  