.gpt3blog-container_article {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    border: 1px solid #E45826;
    position: relative;
    border-radius: 2%;
    padding: 10px;
    /* background: red; */
}
.afp-ct{
    background-color: #E45826;
    color:white;
    padding: 8px 15px 0px 15px;
    width: fit-content;
    position: absolute;
    z-index: 100;
    
}
.afp-status{
    display: flex;
    align-items: center;
    background-color: orange;
    color:white;
    padding: 8px 15px 0px 15px;
    width: fit-content;
    position: absolute;
    right:0;
    border-radius: 0 0 0 20px;
    z-index: 100;
}
.afp-status h4{
    margin-left: 10%;
}
.cp-vote{
    font-size: 28px;
    margin-left: 6px;
    cursor: pointer;
    color:#E45826;

}
.cp-bookmark{
    color:#E45826;
    z-index: 200;
    margin-left: 40px;
    cursor: pointer;
    position: absolute;
    right:4px;
    top:290px;
    font-size: 28px;
}
.cp-vezipos{
    border-bottom: 1px solid #E45826;
    /* color:#E45826; */
    padding: 5px 10px;
    cursor: pointer;
    transition:background 300ms ease;
    /* transition:color 300ms ease; */
    font-size: 20px;
}
.cp-vezipos:hover{
    color:white;
    background-color:#E45826;
}
.gpt3blog-container_article-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 2%;
    overflow: hidden;
}

.gpt3blog-container_article-image img {
    width: 100%;
    height: 98%;
    object-fit: cover;
}

.gpt3__blog-container_article-content h3 {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 1rem;
    cursor: pointer;
}
/* .gpt3__blog-container_article-content  {
    position: relative;
} */


.gpt3__blog-container_article-content h4{
    font-size: 20px;
}
@media only screen and (max-width:1200px){
    .gpt3blog-container_article {
        height: 480px;
    }
}



@media screen and (max-width: 550px) {
    .gpt3blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}
